@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

@font-face {
  font-family: "Glatic";
  src: url("../../public/fonts/GLATIC.ttf");
}

@font-face {
  font-family: "Fira Mono Regular";
  src: url("../../public/fonts/FiraMono-Regular.ttf");
}

@font-face {
  font-family: "Cy Grotesk Bold";
  src: url("../../public/fonts/CyGroteskTrial-KeyBold.otf");
}

@font-face {
  font-family: "Cy Grotesk Light";
  src: url("../../public/fonts/CyGroteskTrial-KeyLight.otf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glatic {
  font-family: "Glatic";
}

.firaRegular {
  font-family: "Fira Mono Regular";
}

.cyGroteskBold {
  font-family: "Cy Grotesk Bold";
}

.cyGroteskLight {
  font-family: "Cy Grotesk Light";
}

.hover-mustard:hover {
  text-shadow: 2px 2px 3px rgba(72, 62, 9, 0.8);
  color: rgba(216, 186, 10, 0.8);
}
