@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Glatic";
  src: url("../../public/fonts/GLATIC.ttf");
}

@font-face {
  font-family: "Fira Mono Regular";
  src: url("../../public/fonts/FiraMono-Regular.ttf");
}

@font-face {
  font-family: "Cy Grotesk Bold";
  src: url("../../public/fonts/CyGroteskTrial-KeyBold.otf");
}

@font-face {
  font-family: "Cy Grotesk Light";
  src: url("../../public/fonts/CyGroteskTrial-KeyLight.otf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glatic {
  font-family: "Glatic";
}

.firaRegular {
  font-family: "Fira Mono Regular";
}

.cyGroteskBold {
  font-family: "Cy Grotesk Bold";
}

.cyGroteskLight {
  font-family: "Cy Grotesk Light";
}

.hover-mustard:hover {
  text-shadow: 2px 2px 3px rgba(72, 62, 9, 0.8);
  color: rgba(216, 186, 10, 0.8);
}
